<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}tsbohc{% endblock %}</title>
  <link href="../_static/reset.css" rel="stylesheet" type="text/css">
  <link href="../_static/style.css" rel="stylesheet" type="text/css">
  <link href="../_static/bw.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="../_static/favicon.ico" type="image/x-icon" />
</head>

<body>

  <main>
    <header>
      <a href="../p-1"><h1>THE SECRET<br> BITTERNESS<br> OF HONEY CAKE</h1></a>
    </header>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <img id="marisa" alt src="../_static/marisa.png">
    <p>
      <p><a href="https://vk.com/id264238136">seancallous@vk</a></p>
      <p>unapologetically opinionated</p>
      <a href="/">home</a>,  <a href="../archive">archive</a>, 
      <!--<a href="https://myanimelist.net/animelist/seancallous?status=7&order=4&order2=0">mal</a>,-->
      & <img id="heart" src="../_static/heart.png" width="13" height="12">
    </p>
  </footer>

</body>
</html>
