:root {
  --background: #f6f6f6;
  --foreground: #111111;
  --foreground-mild: #666666;
  --hyperlink: #000000;
  --highlight: #e7e7e7;
  --highlight-dark: #a3a3a3;
  --highlight-mild: #eeeeee;
  --red: #da5a57;
  --small: 1rem;
}

@font-face {
  font-family: Regular;
  src: url('font/iosevka-custom-regular-light.woff2');
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: Semibold;
  src: url('font/iosevka-custom-semibold-light.woff2');
  unicode-range: U+000-5FF;
}

/* toki pona begin */

@font-face {
  font-family: linja-pona;
  src: url('font/linja-pona-4.2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.linja-pona {
  line-height: 1.4;
  font-family: linja-pona;
  font-size: 1.5rem;
  font-feature-settings: "liga" 1, "clig" 1, "calt" 1, "kern" 1, "mark" 1;
  text-rendering: optimizeLegibility;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: top;
}

pre code.linja-pona {
  line-height: 1.5;
  vertical-align: middle;
}

/* toki pona end */


* {
  padding: 0;
  /* font: 1.10rem/1.55 'Crimson Text' !important; */
}

body {
  font: 1.04rem/1.60 Regular, system-ui, sans-serif;
  max-width: 38rem;
  padding-left: calc(100vw - 100% + 1rem); /* prevent the scrollbar from shifting content */
  padding-right: 1rem;
  margin: max(2rem, 4vw) auto max(2rem, 4vw) auto;
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

th {
  font-weight: 400;
  font-family: Semibold, sans-serif;
  text-align: left;
}

.th { /* for vertical headers in markdown */
  font-family: Semibold, sans-serif;
  background-color: transparent !important;
  border: 0;
}

section, #meta {
  margin-top: 1rem;
}

time {
  color: var(--foreground-mild);
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  font-family: Semibold, sans-serif;
  margin: 2rem 0 1rem 0;
}

h1 {
  margin-top: max(1.5rem, 2.5vw);
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h1 + h2 {
  margin-top: 0;
}

/*h1:before {
  font-family: Regular, sans-serif;
  color: var(--highlight-dark);
  content: "# ";
}

h2:before {
  font-family: Regular, sans-serif;
  color: var(--highlight-dark);
  content: "## ";
}*/

strong, em {
  font-style: normal;
  font-weight: normal;
}

strong {
  font-family: Semibold, sans-serif;
  /* color: #DA5A57; */
}


/* strong:before, strong:after { */
/*   color: var(--highlight-dark); */
/* } */
/**/
/* strong:before { */
/*   content:"「"; */
/* } */
/**/
/* strong:after { */
/*   content:"」"; */
/* } */

p:after {
  color: var(--highlight-dark);
  content:"¬";
}

li p:after {
  content: "";
}

/* blockquote */

blockquote {
  position: relative;
  padding-left: 1em;
  margin: 0 0;
}


blockquote:before {
  height: 100%;
  overflow-y: hidden;
  color: var(--highlight-dark);
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre-wrap;
  position: absolute;
  pointer-events: none;
  margin-left: -1em;
}

/* code blocks */

code {
  background: var(--highlight);
  padding:   0.11rem  0.2rem  0.11rem  0.2rem;
}

em {
  background: var(--highlight);
  /* color: #ff625e; */
  /* background-color: #faebeb; */
  padding: 0.07em 0.2em 0.07em 0.2em;
  margin: 0 -0.2em;
}

pre code {
  background: none;
  font-family: Regular;
  white-space: pre-wrap;
}

pre {
  white-space: pre-wrap !important;
  background: var(--highlight-mild);
  width: calc(50% + 50vw - 1rem);
  margin:  1rem -1rem 1rem calc(50% - 50vw);
  padding: 1rem 1rem 1rem calc(50vw - 50%);
}

/* lists */

ul {
  list-style-type: none;
}

ol {
  list-style-position: inside;
  /* text-indent: 0rem; */
  /* margin-left: 1.5rem; */
}

ul li, ol li {
  margin-left: 1rem;
  text-indent: -1rem;
}

ul li *, ol li *  {
  text-indent: 0rem;
}

li > p:first-child {
  display: inline;
}

li + li, li ul {
  margin-top: 1rem;
}

.TOC li, .TOC ul {
  margin-top: 0rem;
}

ul li::before {
  content: "* ";
  color: var(--highlight-dark);
  display: inline;
}

ul li ul li::before {
  content: "- ";
  color: var(--highlight-dark);
}

ul li ul li ul li::before {
  content: "+ ";
  color: var(--highlight-dark);
}

li * {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

/* li > p { */
/*   display: inline; */
/* } */


/* li { */
  /* margin-left: -1rem; */
/* } */

/* li { */
/*   padding-left: 0rem; */
/*   text-indent: -1rem; */
/* } */

/* li + li { */
/*   margin-top: 0.5em; */
/* } */

/* li:before { */
/*   color: var(--highlight-dark); */
/*   content: "*"; */
/*   width: 0.5rem; */
/*   /* padding-right: 0.5rem; */
/* } */
/**/
/* li ul li:before { */
/*   color: var(--highlight-dark); */
/*   content: "-"; */
/*   width: 0.5rem; */
/*   /* padding-right: 0.5rem; */
/* } */

/* hr */

hr {
  border: 0;
  text-align: left;
}

hr:before {
  content: "---";
  color: var(--highlight-dark);
}

/* links */

/*
nav a, section a, #meta a {
  font-family: Semibold, sans-serif;
}
*/

a {
  color: var(--hyperlink);
  font-family: Semibold, sans-serif;
  text-decoration: none;
}

/* search box */

#s {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  width: 3em;
  font: 1.06rem/1 Semibold, sans-serif;
}

#s:not(:placeholder-shown), #s:focus {
  width: 8em;
  padding: 0 1ch;
}

#s:placeholder-shown:not(:focus) {
  cursor: pointer;
}

#s:placeholder-shown:focus::placeholder {
  font-family: Regular;
  color: var(--highlight-dark);
}

#s::placeholder {
  opacity: 1;
  color: var(--hyperlink);
}

a, #s {
  background-image: linear-gradient(var(--highlight), var(--highlight));
  background-size: 100% 0.5rem;
  background-position: bottom left;
  background-repeat: no-repeat;
  transition: 0.15s ease;
}

a:hover, #s:hover, #s:focus, #s:not(:placeholder-shown) {
  background-size: 100% 100%;
}

table {
  border-collapse: collapse;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: var(--small) 0;
}

th, td {
  padding: 0rem 0.5574rem;
}

td {
  /* border-top: 1px solid var(--highlight); */
  border: 1px solid var(--highlight);
}

th {
  border-bottom: 1px solid var(--highlight);
}

tr:nth-child(even) td {
  /* background: var(--highlight-mild); */
  background: #f2f2f2;
}

thead tr {
  background: none !important;
}

tr th:empty, tr td:empty {
  /* padding: 0rem; */
  width: 0.5rem;
  height: 1.0rem;
  background: transparent;
  border: none;
}

figure img {
  max-width: 38rem;
  width: 100%;
}

figure {
  margin: var(--small) 0;
}

figure figcaption {
  display: none;
}

.footnotes li p {
  display: inline;
}

.footnote-ref {
  background: none;
}

a.footnote-back {
  margin-left: 0.0rem;
  visibility: hidden;
}

a.footnote-back:after {
  content: "^^";
  visibility: visible;
}

.footnote-ref sup, a.footnote-back {
  background: none;
  color: #DA5A57;
}
.footnote-ref sup {
  text-decoration: underline;
  /* vertical-align: super; */
  /* font-size: 0.70em; */
}

/* a.reversefootnote{ */
/*   margin-left: -0.5rem; */
/* } */
/**/
/* .footnote sup { */
/*   /* background-image: linear-gradient(var(--highlight), var(--highlight)); */ */
/*   /* background-size: 100% 0.25rem; */ */
/*   color: #DA5A57; */
/*   text-decoration: underline; */
/*   text-decoration-color: #DA5A57; */
/*   font-family: Semibold, sans-serif; */
/*   padding: 0 0.125rem; */
/*   vertical-align: super; */
/* } */

* ::selection {
  background-color: #DA5A57;
  color: white;
}

.wider {
  --width: max(100%, 60vw);
  position: relative;
  left: 50%;
  margin-left: calc(var(--width) / -2);
  width: var(--width);
  overflow-x: auto;
  /* background-color: pink; */
}

.widest {
  --width: max(100%, 90vw);
  position: relative;
  left: 50%;
  margin-left: calc(var(--width) / -2);
  width: var(--width);
  overflow-x: auto;
}

.widest > *, .wider > * {
  width: 98%;
}

span[data-t] {
  /* text-decoration: underline; */
  /* text-decoration-color: #DA5A57; */
  color: #DA5A57;
  position: relative;
}

span[data-t]:hover {
  cursor: pointer;
  text-shadow: 0px 0px 3px rgba(255, 0, 0, 0.5);
}

span[data-t]:hover:after {
  content: attr(data-t);
  pointer-events: none;

  display: block;
  position: absolute;
  left: 50%;
  top: -2rem;
  transform: translate(-50%, -8px);

  padding: .25rem .5rem;
  border-radius: .25rem;
  text-shadow: none;

  color: var(--highlight-mild);
  background: var(--foreground);

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  z-index: 98;
}

span[data-t]:hover:before {
  content: "";
  position: absolute;
  border: solid;
  border-color: var(--foreground) transparent;
  border-width: 8px 8px 0 8px;
  top: -8px;
  left: calc(50% - 8px);
  z-index: 99;
}

sub {
  color: var(--highlight-dark);
  /* font-size: unset; */
  /* vertical-align: unset; */
}

sup {
  color: #4f7fbd;
  /* font-size: unset; */
  /* vertical-align: unset; */
}



/* span[data-t]:before { */
/*   content: attr(data-t); */
/**/
/*   position: absolute; */
/*   width: 10rem; */
/*   top: -2rem; */
/*   left: -5rem; */
/**/
/*   padding: 0.3rem; */
/*   border-radius: 4px; */
/*   background: var(--foreground); */
/*   color: var(--highlight-mild); */
/*   text-align:center; */
/**/
/*   opacity:0; */
/*   transition:.3s opacity; */
/* } */
/**/
/* span[data-t]:hover:before { */
/*   opacity:1; */
/* } */

.r {
  /* background-color: rgba(218, 90, 87, 0.08) !important; */
  color: rgba(218, 90, 87, 1.0) !important;
  /* border: 1px double rgba(218, 90, 87, 0.15) !important; */
}

/* tr:nth-child(even) td.r { */
/*   background-color: rgba(218, 90, 87, 0.13) !important; */
/* } */

.b {
  /* background-color: rgba(79, 127, 189, 0.08) !important; */
  color: rgba(79, 127, 189, 1.0) !important;
  /* border: 1px double rgba(79, 127, 189, 0.15) !important; */
}

/* tr:nth-child(even) td.b { */
/*   background-color: rgba(79, 127, 189, 0.13) !important; */
/* } */

/* td { */
/*   text-align: center !important; */
/* } */
