@font-face {
  font-family: Header;
  src: url(nexa_bold.otf);
}

@font-face {
  font-family: Body;
  src: url(librebaskerville-regular.ttf);
}

@font-face {
  font-family: BodyBold;
  src: url(librebaskerville-bold.ttf);
}

@font-face {
  font-family: Title;
  src: url(librebaskerville-bold.ttf);
}

@font-face {
  font-family: Code;
  src: url(FiraCode-Medium.ttf);
}

html, html[data-theme="light"] {
  --main-background-color: #ffffff;
  --main-text-color: #404040;
  --header-text-color: #000;
  --border-color: #e8e8e8;
  --highlight-color: #ffefa6;
  --code-row-1: #ffffff;
  --code-row-2: #f9f9f9;
  --code-layer-shadow-0: rgba(0,0,0,0.1);
  --code-layer-shadow-12: rgba(0,0,0,0.15);
  --code-layer-1: #f7f7f7;
  --code-layer-2: #f5f5f5;
  --main-link-color: #333;
  --footer-background: #090909;
  --footer-color: #606060;
  --footer-link-color: #808080;
}

html[data-theme="dark"] {
  --main-background-color: #29272b;
  --main-text-color: #9991a1;
  --header-text-color: #fefefe;
  --border-color: #3f3a42;
  --highlight-color: #5E548E;
  --code-row-1: var(--main-background-color);
  --code-row-2: #201e21;
  --code-layer-shadow-0: var(--border-color);
  --code-layer-shadow-12: var(--border-color);
  --code-layer-1: #262428;
  --code-layer-2: #242225;
  --main-link-color: #fefefe;
  --footer-background: #171618;
  --footer-color: #59545e;
  --footer-link-color: #9991a1;
}

/*
html[data-theme="dark"] {
  --main-background-color: #242325 url(/static/darkbg.png);
  --main-text-color: #C4BAAF;
  --header-text-color: #F2EAE2;
  --border-color: #353535;
  --highlight-color: #507ab0;
}
*/

@media (prefers-color-scheme: dark) {
    html {
      content: "dark";
    }
}

em {
  font-style: italic;
}

blockquote {
  /*font-style: italic;*/
  margin: 17px 25px 17px 25px;
  border-left: 1px var(--border-color) solid;
  padding: 0 10px 0 10px;
}

blockquote p {
  margin: 0 0 0 0;
}

strong {
  font-family: BodyBold;
  font-style: bold;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
  box-sizing: border-box;
  color: var(--main-text-color);
  background: var(--main-background-color);
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 140%;
  box-sizing: border-box;
  padding: 0 0 230px 0;
  font: 12pt/1.8 Body, serif;
}

p {
  margin: 0 0 9px 0;
}

ul {
  margin: 0 0 9px 40px;
  padding: 0 35px 0 0;
}

a {
  text-decoration: none;
  color: var(--main-link-color);
}

#pagination a, .tags a, article a {
  background-position: center 90%;
  background: linear-gradient(to bottom, transparent 0%, var(--highlight-color) 0) center bottom/100% 30% no-repeat;
  transition: all 0.1s ease;
}

#pagination a:hover, .tags a:hover, article a:hover {
  background-size: 100% 100%;
}

.date {
  width: 135px;
  float: left;
  text-align: right;
  padding: 10px 0 0 0;
}

.tags {
  width: 550px;
  text-align: center;
  float: right;
  margin-top: -46px;
}

.tags span {
  background: var(--main-background-color);
  padding: 0 5px 0 5px;
}

h2 {
  font-size: 19pt;
}

h3 {
  font-size: 16pt;
}

article {
  width: 550px;
  float: right;
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid var(--border-color);
}

main {
  flex: 1 1 auto;  /*grow vertically*/
  width: 700px;
  margin-bottom: 20px;
  margin-left: calc(50vw - 150px - 275px); /*50% - date - half a post width*/
}

header {
  width: 550px;
  float: right;
  font-family: Header;
  font-size: 45pt;
  line-height: 1;
  text-transform: uppercase;
  padding: 0 20px 0 20px;
  margin: 35px -20px 35px -20px;
  border-bottom: 1px solid var(--border-color);
}

header a, h2 a {
  color: var(--header-text-color);
}

#pagination {
  width: 550px;
  height: 50px;
  float: right;
}

#pagination div {
  width: 50%;
}

#pagination #future {
  float: left;
}

#pagination #past {
  text-align: right;
  float: right;
}

footer {
  font-size: 12pt;
  line-height: 1.3;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  background: var(--footer-background);
  text-align: center;
  color: var(--footer-color);
}

footer #marisa {
  width: 128px;
  height: auto;
  margin: -64px 0 12px 0;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.3);
}

footer a {
  color: var(--footer-link-color);
}

footer a:hover, #footer a:active {
  color: #fefefe;
}

pre code {
  display: inline-block;
  font-size: 11pt;
  font-family: Code;
}

pre {
  margin: 22px -20px 30px -20px;
  padding: 10px 20px 10px 20px;
  white-space: pre-wrap;       /* Since CSS 2.1 */

  line-height:22px;
  background:linear-gradient(180deg,var(--code-row-1) 0,var(--code-row-1) 22px,var(--code-row-2) 0);
  background-size:44px 44px;
  background-origin:content-box;
  background-position: 0 -22px;
  background-repeat: repeat;

  border-radius: 0px;
  border-top: 1px solid var(--border-color); /* ddd */
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  box-shadow:
    /* The top layer shadow */
    0 1px 1px var(--code-layer-shadow-0),
    /* The second layer */
    0 10px 0 -6px var(--code-layer-1),
    /* The second layer shadow */
    0 10px 1px -5px var(--code-layer-shadow-12),
     /* The third layer */
    0 20px 0 -12px var(--code-layer-2),
    /* The third layer shadow */
    0 20px 1px -11px var(--code-layer-shadow-12);
}


@media screen and (max-width: 769px) {
  main {
    margin-left: 0px;
    width: 90%;
  }

  header {
    width: 90%;
  }

  article, #pagination, .tags {
    width: 90%;
  }

  footer {
    width: 100%;
  }

  .date {
    display: none;
  }

}

